.badge {
    display: inline-block;
    padding: 2px 4px;
    font-size: 11.844px;
    font-weight: bold;
    line-height: 14px;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #7c7c83;
}

.badge {
    padding-right: 9px;
    padding-left: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.badge:empty {
    display: none;
}

a.badge:hover {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}

.badge-important {
    background-color: #75b5aa;
}

.badge-important[href] {
    background-color: #75b5aa;
}